#base {
  background-color: var(--normalBlack);
  color: var(--normalWhite);
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  font-family: 'JetBrainsMono Nerd Font Mono', serif;
}
